:host {
    ::ng-deep {
        .p-menuitem-link {
            padding: 0.5rem 1rem;
        }
    }
}

.header {
    width: 100%;
    height: 80px;
    background: var(--surface-0);
    border-bottom: 1px solid var(--surface-border);
}
